button{
    font-size: 20px;
}

.title{
    font-size: 25px;
    color: white;
}

.randomize {
    display: flex;
    justify-content: center;
    margin-top: 1em ;
}

.addtocart {
    display: flex;
    justify-content: center;
    margin-top: 1em ;
}

.sizes{
    display: flex;
    justify-content: center;
    margin-top: 1em;
    gap: 10px;
}
