body {
  /* background-color: rgb(225, 241, 245); */
}

.title {
  display: flex;
  justify-content: center;
  
}


.forms {
  
}

#total {
  font-size: large;
  display: flex;
  justify-content: center;

}

.bar {
  display: flex;
  justify-content: center;
  border-style: solid;
  width: 500px;


}