.buttons {

  height: calc(100vh - (150px));  
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-self: center;
  // border: solid 2px red;

}
