.myPizza {
  width: 65%;
  /* border: 1px solid red; */
  padding: 1em;
}

.myPizza img {
  /* width: 100%; */
  height: auto;
}

.topping-option {
  position: relative;
  /* bottom: 0; */
}

.pizza-base {
  position: absolute;
}

.active {
  display: block;
}

.inactive {
  display: none;
}